// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

// Navbar styles
nav {
  padding: 0 1rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.search-add-flat-section {
  display: flex;
}

.search-add-flat-section input {
  padding: .7rem;
  height: 2.7rem;
  border-radius: .5rem;
  border: .1rem solid gray;
  font-size: 1rem;
}

.search-add-flat-section input:focus-visible {
  outline: none;
  box-shadow: none;
}

.btn-search {
  margin-left: 1rem;
  background-color: green;
  color: white;
  padding: .3rem;
  border-radius: .5rem;
  border: .5rem solid green;
  font-size: 1rem;
}

.btn-add-flat {
  margin-left: 1rem;
  background-color: blue;
  color: white;
  padding: .3rem;
  border-radius: .5rem;
  border: .5rem solid blue;
  font-size: 1rem;
}

.btn-search:hover, .btn-add-flat:hover {
  cursor: pointer;
}

// Index flat styles
header {
  width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: .3rem;
  font-size: 1.2rem;
  font-weight: lighter;
}

.flats-cards {
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.flat-card {
  background-color: #f8f9fa;
  text-align: center;
  border: .05rem solid gray;
  box-shadow: .05rem .05rem .05rem gray;
}

.flat-card h3 {
  font-size: 1.3rem;
}

.flat-card-info span {
  font-weight: bold;
}

.links {
  background-color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.links a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0 .5rem;
}

.blue-color { color: blue; }
.orange-color { color: organe; }
.red-color { color: red; }

// Show flat styles
.flat-card-show-img {
  margin: 0 auto;
}

.flat-card-show-img > img {
  width: 100%;
  height: 450px;
  background-size: cover;
  object-fit: fill;
 }

 .flat-card-show {
   margin: -6rem auto;
   width: 80%;
   display: flex;
   justify-content: space-around;
 }

 .flat-card-show_info {
   width: 55%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .flat-card-show_booking {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

.flat-card-show_general {
  background-color: #f8f9fa;
  padding: .1rem 1.5rem;
  border-radius: .2rem;
  border: .05rem solid gray;
}

.flat-card-show_info_title {
  height: 35%;
}

.flat-card-show_info_description {
  height: 55%;
}

.flat-card-show_booking_dates {
  height: 50%;
}

.flat-card-show_booking_dates h2 {
  margin-bottom: .5rem;
}
.flat-card-show_booking_price {
  height: 45%;
}

.flat-card-show_booking_dates form {
  display: flex;
  flex-direction: column;
}

.flat-card-show_booking_dates input {
  height: 2rem;
}
