// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 0 1rem;
  background-color: #f8f9fa;
  // font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.search-add-flat-section {
  display: flex;
}

input {
  padding: .7rem;
  height: 2.7rem;
  border-radius: .5rem;
  border: .1rem solid gray;
  font-size: 1rem;
}

input:focus-visible {
  outline: none;
  box-shadow: none;
}

.btn-search {
  margin-left: 1rem;
  background-color: green;
  color: white;
  padding: .3rem;
  border-radius: .5rem;
  border: .5rem solid green;
  font-size: 1rem;
}

.btn-add-flat {
  margin-left: 1rem;
  background-color: blue;
  color: white;
  padding: .3rem;
  border-radius: .5rem;
  border: .5rem solid blue;
  font-size: 1rem;
}

.btn-search:hover, .btn-add-flat:hover {
  cursor: pointer;
}

header {
  width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: .3rem;
  font-size: 1.2rem;
  font-weight: lighter;
}

main {
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.flat-card {
  background-color: #f8f9fa;
  text-align: center;
  border: .05rem solid gray;
  box-shadow: .05rem .05rem .05rem gray;
}

.flat-card h3 {
  font-size: 1.3rem;
}

.flat-card-info span {
  font-weight: bold;
}

.links {
  background-color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.links a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0 .5rem;
}

.blue-color { color: blue; }
.orange-color { color: organe; }
.red-color { color: red; }
