<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <h1>Simple Airbnb</h1>
      <div class="search-add-flat-section">
        <form>
          <input type="search" placeholder="Search">
          <button class="btn-search">Search</button>
        </form>
        <%= link_to new_flat_path do%>
          <button class="btn-add-flat">Add Flat</button>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
